
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teofibot's IRControl</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/ircontrol.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../static/js/ircontrol.js"></script>


</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">TeofiBot's IRControl</a>
            </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="javascript:logout();"><i class="fa fa-edit fa-fw"></i>About HEKMS</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.navbar-header -->
            
            <!-- /.navbar-top-links -->
        </nav>

        <div id="page-wrapper">
            <select id="device" class="form-control">
                {% for device in devices %}
                    <option value="{{device.name}}">{{device.name}}</option>
                {% endfor %}
            </select>
            <div id="device-wrapper">
                {% include "ircontrol/render_device.html" %}
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
        $('#device').on('change', function() {
            render_device(this.value);
        })
    </script>
</body>
</html>
